@import "mixins";

:root {
  --color-soft-blue: #5368df;
  --color-soft-red: #fa5757;
  --color-bright-red: #f53838;

  --color-grayish-blue: #9194a1;
  --color-dark-blue-gray: #4f5665;
  --color-very-dark-blue: #0b132a;
  --color-white: #fff;
  --color-off-white: #f7f7f7;
  --default-padding: 2rem;
  --default-radius: 0.4rem;
  --desktop-width: 1025px;
  --tablet-width: 600px;
  --timing-animation: 0.2s;
  --color-background: #fff;
  --color-background-Very-light-gray: #f8f8f8;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body,
[type="submit"] {
  font-size: 1.6rem;
  font-family: "Rubik", serif;
  line-height: 1.3;
  border: 0;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

// end css reset

// global code

.container {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--color-background);
  max-width: 148rem;
  row-gap: 10rem;

  @media (max-width: 950px) {
    row-gap: 5rem;
    margin: 0 auto;
    overflow-x: hidden;
  }
}

// header

.header {
  display: none;
  position: sticky;
  top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  margin-top: 1rem !important;
  padding: 0 10rem;
  flex-wrap: nowrap;
  z-index: 2;
  @media (max-width: 950px) {
    position: fixed;
    width: 100vw;
  }

  @media (min-width: 600px) and (max-width: 950px) {
    gap: 47rem;
    z-index: 4;
  }

  @media (max-width: 600px) {
    gap: 18rem;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: var(--color-white);
    padding: 4.5rem 15rem;
    width: 100vw;
    height: 100%;
    z-index: -1;
    box-shadow: 0px 25px 80px -38px rgba(0, 0, 0, 0.884);

    @media (min-width: 300px) and (max-width: 950px) {
      z-index: 0;
    }
  }

  &__logo {
    @media (min-width: 300px) and (max-width: 950px) {
      z-index: 1;
    }
  }

  &__nav {
    display: flex;
    gap: 4rem;
    color: var(--color-dark-blue-gray);

    @media (max-width: 950px) {
      flex-direction: column;
      position: fixed;
      right: 0;
      top: -10px;
      background: var(--color-bright-red);
      backdrop-filter: blur(10px);
      gap: 5rem;
      color: var(--color-white);
      width: 100%;
      height: 101vh;
      text-align: center;
      bottom: 0;
      align-items: center;
      padding: 148px;
      opacity: 0.8;
      z-index: 1;
      transition: 0.5s ease-in-out;
      transform: translateX(100%);
    }
  }

  &__link {
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__buts {
    display: flex;
    gap: 3rem;
    font-weight: 500;
    cursor: pointer;

    @media (max-width: 950px) {
      position: fixed;
      top: 60rem;
      z-index: 3;
      flex-direction: column;
      transform: translateX(100%);
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
  }
  &__but--sign-in {
    color: var(--color-very-dark-blue);
    align-self: center;

    @media (min-width: 300px) and (max-width: 950px) {
      color: var(--color-white);
    }
  }

  &__but--sign-up {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-bright-red);
    border-radius: 5rem;
    padding: 1.3rem 4.5rem;
    text-align: center;
    color: var(--color-bright-red);

    @media (min-width: 300px) and (max-width: 950px) {
      background-color: var(--color-white);
      box-shadow: none;
    }

    &:hover {
      transition: all 0.4s ease-in-out;
      color: var(--color-white);
      background-color: var(--color-bright-red);
      box-shadow: hsl(0, 90%, 35%) 0px 20px 30px -20px;
    }
  }
}

.container:has(.burger-menu__checkbox:checked) .header__nav {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
.container:has(.burger-menu__checkbox:checked) .header__buts {
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.container:has(.burger-menu__checkbox:checked) .burger-menu__bar {
  background-color: var(--color-white);
}

.container:has(.burger-menu__checkbox:checked)
  .burger-menu__bar:nth-of-type(1) {
  transform: rotate(-45deg) translate(-0.9rem, 0.9rem);
  transition: 0.3s;
  width: 4.5rem;
}

.container:has(.burger-menu__checkbox:checked)
  .burger-menu__bar:nth-of-type(3) {
  transform: rotate(45deg) translate(0.1rem, 0.1rem);
  transition: 0.3s;
  width: 4.5rem;
}

.container:has(.burger-menu__checkbox:checked)
  .burger-menu__bar:nth-of-type(2) {
  display: none;
}

.burger-menu__checkbox {
  display: none;
}

.burger-menu {
  display: none;
  cursor: pointer;

  @media (max-width: 950px) {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-size: 2rem;
  }

  &__bar {
    height: 0.3rem;
    width: 4.375rem;
    background-color: var(--color-bright-red);
    transition: transform 0.3s;
  }
}
// end header

// section 1

.section__1 {
  display: flex;
  flex-direction: row;
  max-width: 134rem;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
  margin: 0 auto;

  @media (min-width: 300px) and (max-width: 950px) {
    flex-direction: column;
  }
}
.section__text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: left;
  align-items: start;
  margin-top: -2.3rem;
  padding-left: 3rem;
  @media (min-width: 600px) and (max-width: 950px) {
    order: 1;
    margin-top: 3rem;
    text-align: center;
    padding: 0 32rem;
    margin: 3rem auto;
  }

  @media (max-width: 600px) {
    order: 1;
    text-align: center;
    padding: 0 38rem;
    margin: 3rem auto;
  }
}

.section__header {
  font-size: 5rem;
  font-weight: 500;
  color: var(--color-very-dark-blue);
  line-height: 7rem;
  margin-bottom: 2.7rem;
}

.section__des {
  color: var(--color-dark-blue-gray);
  margin-bottom: 5rem;
  line-height: 3rem;

  @media (min-width: 600px) and (max-width: 900px) {
    text-align: center;
    font-size: 1.5rem;
  }

  @media (max-width: 600px) {
    text-align: center;
    font-size: 1.1rem;
  }
}

.section__img {
  width: 56rem;
  height: 36.9rem;
  @media (min-width: 600px) and (max-width: 950px) {
    width: 57rem;
    margin-top: 13rem;
  }

  @media (max-width: 600px) {
    margin-top: 7rem;
    width: 40rem;
  }
}

.section__but {
  width: 25rem;
  height: 6rem;
  border-radius: 1rem;
  color: var(--color-white);
  background-color: var(--color-bright-red);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5rem;
  justify-self: center;
  padding: 1.75rem 7.75rem;
  cursor: pointer;

  @media (min-width: 600px) and (max-width: 950px) {
    font-size: 2.5rem;
    width: 39rem;
    height: 6.6rem;
    margin: 0 auto;
  }

  @media (max-width: 600px) {
    width: 30rem;
    font-size: 2.5rem;
    height: 6.6rem;
    margin: 0 auto;
  }

  &:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: hsl(0, 90%, 35%) 0px 20px 50px -20px;
  }
}
// end section1

//stats__item
.stats {
  justify-self: center;
  padding: 0 10rem;
  text-align: center;

  @media (min-width: 600px) and (max-width: 950px) {
    margin-left: 0;
  }
}

.container:has(.burger-menu__checkbox:checked) .stats__item {
  z-index: 0;
}
.stats__item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  width: 114rem;
  height: 20rem;
  padding: 3.7rem 9rem;
  border-radius: 1rem;
  box-shadow: 0px 25px 80px -50px rgba(0, 0, 0, 0.5);

  @media (min-width: 600px) and (max-width: 950px) {
    width: 70rem;
    height: 15rem;
    padding: 0;
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    width: 28rem;
    height: 54rem;
  }
}

.col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.6rem;

  &:not(:nth-of-type(3)) {
    border-right: 2px solid rgba(0, 0, 0, 0.09);
    height: 12.5rem;
    left: 0;
    justify-self: center;
    padding-right: 10rem; /* مسافة بعد الخط */

    @media (min-width: 600px) and (max-width: 950px) {
      padding-right: 5rem;
      height: 10.5rem;
    }

    @media (max-width: 600px) {
      border-right: none;
      border-bottom: 2px solid rgba(0, 0, 0, 0.09);
      padding-right: 0;
      margin-top: -5rem;
    }
  }
}

.txt {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;

  &__num {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
  }

  &__label {
    font-weight: 400;
    font-size: 2rem;
    color: var(--color-dark-blue-gray);
  }
}

.section {
  &__2 {
    gap: 16.9rem;
    padding: 0 10rem;

    display: flex;
    flex-direction: row;
    max-width: 134rem;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
    margin: 0 auto;

    @media (min-width: 300px) and (max-width: 950px) {
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 5rem;
    margin-bottom: 2rem;
    margin-right: 2.3rem;
    color: var(--color-very-dark-blue);

    @media (max-width: 600px) {
      margin-right: 0;
      font-size: 3rem;
    }

    @media (min-width: 600px) and (max-width: 900px) {
      margin-right: 0;
    }
  }
}

.section2__img {
  width: 50.8rem;
  height: 41.4rem;
  @media (max-width: 600px) {
    width: 35.9rem;
    height: auto;
  }
}

.section2__text {
  @media (min-width: 600px) and (max-width: 950px) {
    padding: 0 32rem;
    text-align: center;
    margin-bottom: 10rem;
  }

  @media (max-width: 600px) {
    padding: 0 36rem;
    text-align: center;
  }
}

.section4__text {
  @media (max-width: 600px) {
    text-align: center;
  }
}
.list__advan {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
  @media (min-width: 600px) and (max-width: 950px) {
    text-align: center;
    margin: 46px 118px;
  }

  @media (max-width: 600px) {
    margin: 46px 4.4rem;
  }
}
.advan {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__txt {
    color: var(--color-dark-blue-gray);
  }
}

// end
// section2
.section__3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.part__top {
  @media (max-width: 600px) {
    justify-self: center;
    padding: 0 45rem;
  }
}

.part__top--des {
  @media (max-width: 600px) {
    text-align: center;
    font-size: 1.1rem;
  }
}

.part__bot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  justify-content: center;
  align-items: center;

  @media (min-width: 300px) and (max-width: 950px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.box {
  width: 33rem;
  height: 76rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 7.9rem 4.9rem 5rem 4.9rem;
  border: 2px solid var(--color-off-white);
  background-color: var(--color-white);
  border-radius: 1rem;
  cursor: pointer;

  &:hover {
    border-color: var(--color-bright-red);
    transform: scale(1.01);
    transition: transform 0.3s ease-in-out;
  }
}

.box__img {
  width: 14.4rem;
  height: 16.5rem;
  margin-bottom: 3rem;
}

.box__title--top {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
  margin-bottom: 3rem;
}

.advan__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: auto;
}

.advan {
  display: flex;
  gap: 2rem;
}

.advan__des {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 3rem;
  color: var(--color-grayish-blue);
}

.box__price {
  font-weight: 500;
  color: var(--color-very-dark-blue);
  font-size: 2.5rem;
  line-height: 3rem;
}

.mo {
  font-size: 2.5rem;
  color: var(--color-grayish-blue);
  font-weight: 400;
}
.box__but {
  border: 2px solid var(--color-bright-red);
  border-radius: 5rem;
  padding: 1.3rem 6.2rem;
  color: var(--color-bright-red);
  cursor: pointer;
  margin-top: 2rem;

  &:hover {
    background-color: var(--color-bright-red);
    color: var(--color-white);
    box-shadow: #aa0909 0px 20px 30px -20px;
    transition: all 0.4s ease-in-out;
  }
}

// end section_3

// start

.section__4 {
  display: flex;
  padding: 0 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.img__world {
  width: 106rem;
  height: 53.777rem;
  margin: 0 20rem;
  @media (min-width: 300px) and (max-width: 950px) {
    margin: 0 auto;
    width: 70rem;
    height: 35.77rem;
  }

  @media (max-width: 600px) {
    width: 40rem;
    height: 20.77rem;
  }
}

.section__imgs {
  display: flex;
  flex-direction: column;
  margin-top: 15.5rem;
  padding: 0 10rem;

  @media (min-width: 300px) and (max-width: 950px) {
    margin: 0 auto;
  }
}

.icons {
  width: 113.5rem;
  height: 20.8rem;
  margin: 0 16rem 0 14.5rem;
  @media (min-width: 600px) and (max-width: 950px) {
    width: 73.5rem;
    height: 15.8rem;
  }

  @media (max-width: 600px) {
    width: 41rem;
    height: 8.6rem;
    margin: 0;
  }
}
// end

// start

.section__5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 19rem;
  text-align: center;
}

.padding4 {
  @media (max-width: 600px) {
    padding: 0 37rem;
  }
}

.padding {
  text-align: center;
  justify-self: center;
  padding: 0 46rem;

  @media (min-width: 600px) and (max-width: 900px) {
    padding: 0 28rem;
  }

  @media (max-width: 600px) {
    padding: 0 48rem;
  }
}

.padding5 {
  @media (max-width: 600px) {
    padding: 0 2.8rem;
  }
}

.padding5__des {
  @media (max-width: 600px) {
    padding: 0 5.8rem;
  }
}

.text-align {
  text-align: center;
}

.opinions {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  margin-left: 10rem;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  @media (max-width: 600px) {
    flex-direction: column;
    margin-left: 0;
    gap: 3rem;
  }
}

.opinion__box {
  display: flex;
  flex-direction: column;
  width: 41rem;
  flex-shrink: 0;
  cursor: pointer;
  height: 23rem;
  border: 2px solid #dddddd;
  border-radius: 1rem;
  padding: 3rem;
  justify-content: center;
  scroll-snap-align: start;
  &:hover {
    border-color: var(--color-bright-red);
    transform: scale(1.009);
    transition: 0.3s ease-in-out;
  }
  @media (max-width: 600px) {
    width: 36rem;
  }
}

.client {
  display: flex;
  margin-bottom: 1rem;
}

.client__rate {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.img__clinet {
  margin-right: 2rem;
}

.client__info {
  margin-right: 7.8rem;
}

.client__name {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
  @media (max-width: 600px) {
    font-size: 1.5rem;
  }
}

.client__address {
  margin-bottom: 0;
}

.star {
  width: 1.6rem;
  height: 1.6rem;
}

.client__opinion {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  color: var(--color-very-dark-blue);
  @media (max-width: 600px) {
    font-size: 1.3rem;
  }
}

.opinion__buts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 92.5rem;
  margin-top: 11.25rem;

  @media (min-width: 300px) and (max-width: 950px) {
    gap: 41rem;
  }

  @media (max-width: 600px) {
    gap: 10rem;
    margin-top: 6.25rem;
  }
}
.progress-bar {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.progres-bar {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #dde0e4;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: var(--color-bright-red);
  }

  &:nth-of-type(1) {
    display: block;
    position: relative;
    border-radius: 1.5rem;
    width: 4.5rem;
    height: 1.5rem;
    background-color: var(--color-bright-red);

    @media (max-width: 600px) {
      width: 4.1rem;
      height: 1.3rem;
    }
  }

  @media (max-width: 600px) {
    width: 1.5rem;
    height: 1.4rem;
  }
}

.opinion__seitches {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.checkbox {
  display: none;
}

.opinion__switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border: 2px solid var(--color-bright-red);
  padding: 1.2rem 2rem;
  font-size: 3rem;
  border-radius: 50%;
  color: var(--color-bright-red);
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease-in-out;

  &:nth-of-type(1) {
    transform: rotate(180deg);
  }

  &:hover {
    color: #fff;
    background-color: var(--color-bright-red);
    box-shadow: 0px 14px 44px 0px #0e142214;
  }

  @media (max-width: 600px) {
    width: 5rem;
    height: 5rem;
  }
}

// end

.section__6 {
  display: flex;
  gap: 32rem;
  justify-content: center;
  background-color: var(--color-white);
  box-shadow: 0px 25px 80px -50px rgba(0, 0, 0, 0.5);
  width: 114rem;
  height: 23.3rem;
  border-radius: 1rem;
  align-items: center;
  text-align: left;
  padding: 5.8rem 7rem;
  margin: 0 auto;
  z-index: 3;

  @media (min-width: 600px) and (max-width: 950px) {
    width: 69rem;
    gap: 0.5rem;
    text-align: left;
    z-index: 1;
    flex-direction: column;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    width: 36rem;
    padding: 5.8rem 3rem;
    gap: 1.5rem;
    height: 28.3rem;
    z-index: 1;
  }
}

.section5__text {
  @media (min-width: 300px) and (max-width: 950px) {
    padding: 0 24rem;
  }
}
.last-but {
  font-size: 1.6rem;
  font-weight: 700;
  width: 39rem;
  padding: 1.75rem 8.5rem;

  @media (min-width: 600px) and (max-width: 900px) {
    width: 31rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  @media (max-width: 600px) {
    width: 29rem;
  }
}

.sub {
  @media (max-width: 600px) {
    font-size: 2.93rem;
    margin-bottom: 1rem;
  }
}

.no-margine-bot {
  margin-bottom: 0;
}

//end
.footer {
  display: flex;
  flex-direction: row;
  gap: 23rem;
  margin: 0 auto;
  z-index: 2;

  @media (min-width: 300px) and (max-width: 950px) {
    flex-direction: column;
    gap: 9rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 0;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 56.5rem;
    bottom: -8.5rem;
    left: 0;
    right: 0;
    background-color: var(--color-background-Very-light-gray);
    z-index: -1;
    @media (min-width: 300px) and (max-width: 950px) {
      height: 136.5rem;
    }
  }
}

.logo__footer {
  margin-bottom: 2rem;
}

.icons__footer {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.col-right {
  display: flex;
  flex-direction: row;
  gap: 12.6rem;
  @media (min-width: 300px) and (max-width: 950px) {
    flex-direction: column;
  }
}

.col__footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__title {
  margin-bottom: 1rem;
}

.des {
  color: var(--color-grayish-blue);
}
